
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết sản phẩm</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script src="http://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<style>
  .demo {

    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  #backtop {
    width: 50px;
    height: 50px;
    background: tomato;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    scroll-behavior: smooth;
  }
</style>

<body>

<button class="btn btn-outline-info demo" onclick="goback()">Quay lại trang trước</button>

<!-- begin content -->

<main role="main">
  <div class="container mt-4">
    <div class="alert alert-danger d-none face" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div>
      <div class="container-fluid">
        <form th:object="${product}">
          <div class="row">
            <div class="col-md-6">
              <div class="preview-pic tab-content">
              </div>
              <ul class="preview-thumbnail nav nav-tabs">
                <li class="active">
                  <a data-target="#pic-1" data-toggle="tab" class="">
                    <img style="width: 500px; height: 600px" th:src="@{${'/image/' + product.img}}">
                  </a>
                </li>
              </ul>
            </div>
            <div class="details col-md-6">
              <h3>[[${product.productName}]]</h3>
              <p class="h5" style="margin-top: 30px;" th:text="'Năm sản xuất : ' + ${product.productYear}"></p>
              <h4 class="price" style="margin-top: 30px">Giá hiện tại: <span th:text="${#numbers.formatInteger(product.price, 3, 'POINT')} + ' VNĐ '"></span></h4>

              <p class="h5" style="margin-top: 30px"><strong>100%</strong> hàng <strong>Chất lượng</strong>, đảm bảo
                <strong>Uy
                  tín</strong>!</p>
              <div class="action">
                <a class="btn btn-outline-success" style="background: orange; margin-top: 30px" th:href="@{'/addcart/' + ${product.id}}"><i class="fa-solid fa-cart-shopping"></i>Thêm vào giỏ hàng</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="container-fluid" style="margin-top: 50px">
        <h3>Thông tin chi tiết về Sản phẩm</h3>
        <div class="row">
          <div class="col">
            [[${product.detail}]]
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<br>
<br>
<br>

<!-- End block content -->

<!-- begin backtop -->

<div id="backtop">
  <i class="fa-solid fa-arrow-up"></i>
</div>

<!-- end backtop -->

</body>

<script type="text/javascript">
  function goback() {
    window.location = "[[@{/}]]";
  }


  $(document).ready(function () {
    $(window).scroll(function () {
      if($(this).scrollTop()) {
        $('#backtop').fadeIn();
      } else {
        $('#backtop').fadeOut();
      }
    });
    $("#backtop").click(function () {
      $('html, body').animate({scrollTop: 0}, 500);
    });
  });
</script>

</html>